{
  "name": "{{SITE_NAME}}",
  "targets": ["{{BACKEND_HOST}}:{{BACKEND_PORT}}"],
  "secure": false,
  "trustedCertificateGroupId": 0,
  "useTargetHostHeader": true,
  "skipHostnameVerification": true,
  "useProxy": false,
  "sendPaCookie": true,
  "expectedHostname": null,
  "loadBalancingStrategyId": 0,
  "maxConnections": -1,
  "maxWebSocketConnections": -1,
  "keepAliveTimeout": 0
}
